.edit_profile{
    display: flex;
}

.edit_profileRight{
    flex: 9;
}

.edit_profileRightBottom{
    display:flex;
}

.edit_profileCover{
    height: 320px;
    position: relative;
}

.edit_profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.edit_profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.edit_profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit_profileInfoName{
    font-size: 24px;
}

.edit_profileInfoDesc{
    font-weight: 300;
}

.edit_profileRightBottom{
    display: flex;
}