.forgotPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.forgotPassword h2 {
    margin-bottom: 20px;
}

.forgotPassword p {
    margin-bottom: 10px;
}

.forgotPasswordInput {
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
}

.forgotPasswordButton {
    padding: 10px 20px;
    cursor: pointer;
}

.forgotPasswordLoginLink {
    margin-top: 20px;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
