.sidebar{
    flex: 2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(168, 171, 174);
}

.sidebarWrapper{
    padding: 20px;
}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon{
    margin-right: 15px;
}

.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 550;
}

.sidebarHr{
    margin: 20px 0;
}

.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarFriendImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
