.rightbar{
    flex: 3.5;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
}

.birthdayContainer{
    display: flex;
    align-items: center;
}

.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText{
    font-weight: 300;
    font-size: 15px;
}